<%- include('partials/header'); -%>
<link rel="stylesheet" href="css/about.css">
<div class="aboutpage">

<h1 class="head">ABOUT</h1>

<div class="p"></div>
<p>
    You can search, professionals, industry experts and great opportunity at your fingertips, the KollabKaro app offers a great way to network, search for project partners and find new contacts - straight from your desktop, wherever you are.
</p>

<h1 class="head">VISION</h1>

<div class="p"></div>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim ipsum officiis aperiam magnam, illo saepe laboriosam temporibus quos maiores!</p>

<h1 class="head">MISSION</h1>

<div class="p"></div>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed tempore explicabo nesciunt repellendus ab culpa numquam quod sint enim!</p>


<h1 class="head">OUR TEAM</h1>


<div class="container">
    <div class="sub-container">
        <div class="teams">
            <img src="\images\Gaurav.jpeg" alt="">
            <div class="name">Gaurav</div>
            <div class="desig">Frontend Developer</div>
            <!-- <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div> -->

        </div>

        <div class="teams">
            <img src="/images/Paras.jpeg" alt="">
            <div class="name">Paras Sharma</div>
            <div class="desig">Backend Developer</div>
            <!-- <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div> -->

            
        </div>

       

        <div class="teams">
            <img src="/images/Shudhanshu.jpeg" alt="">
            <div class="name">Shudhanshu Shree</div>
            <div class="desig">Backend Developer</div>
            <!-- <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div> -->

        </div>

        <div class="teams">
            <img src="/images/Anish.jpeg" alt="">
            <div class="name">Anish Yadav</div>
            <div class="desig">Frontend Developer</div>
            <!-- <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div> -->

            
        </div>
    </div>
</div>


</div>

<%- include('partials/footer'); -%>