<section id="features">

    <div class="row">
    <div class="feature-box col-lg-4 image1">
      <img src="Images/icon-register-removebg-preview.png" alt="" width="200px">
    <h3>Sign-Up</h3>
    <p>Register for free and make your profile</p>
  </div>

  <div class="feature-box col-lg-4 image1">
    <img src="Images/profile-icon-member-society-group-avatar-vector-18572666-removebg-preview.png" alt=""  width="186px">
    <h3>Explore profiles</h3>
    <p>Explore different profiles and find your match</p>
  </div>

    <div class="feature-box col-lg-4 image1">
      <img src="Images/interact-removebg-preview.png" alt=""  width="200px">
    <h3>Interact</h3>
    <p>Intract and Collaborate</p>
  </div>
</div>
  </section>