<div class="filter">
    <form action="">
        <h1>Filter Profiles By</h1>
        <!-- <label for="lookingfor">Looking for</label><br>
        <select name="lookingfor" id="lookingfor">
            <option value="Student">STUDENT</option>
            <option value="Mentor">MENTOR</option>
        </select> -->
        <br>
        <form action="/home2?yearfilter=&skillsfilter=" method="get">
        <label for="year">Year</label><br>
        <input type="number"name="yearfilter">
        <br>
        <label for="Skills">SKILLS</label><br>
          <input type="text"  name="skillsfilter">
        <br>
        <button type="submit" class="applyfilter">Apply</button>
    </form>
    
</div>