<%- include('partials/header'); -%>
  <!doctype html>
  <html lang="en">

  <head>
    <link rel="stylesheet" href="css/signup.css">
    <script src="https://kit.fontawesome.com/54e932ab36.js" crossorigin="anonymous"></script>
    <script src="js/signup.js"></script>
    <title>Make your profile</title>
  </head>

  <body>
    <br><br><br>
    <br><br>
    <div class="content">
        <div class="left">
          <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="right">
          <h3>Make your profile</h3>
          <form action="/signup" id="studentform" method="post" enctype="multipart/form-data">

            <div class="left">
              <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
              <input type="text" name="email" class="form-control" id="email" placeholder="E-mail" required>
              <input type="password" name="password" class="form-control" id="email" placeholder="enter password" required>
              <input type="text" name="branch" class="form-control" id="password" placeholder="enter branch">
              <div class="changeimg">
                <label for="img">
                  <i class="fa-solid fa-camera"></i>
                  Upload Profile Photo
                  <input type="file" name="image" class="form-control" id="img" placeholder="upload image" accept="image/x-png,image/gif,image/jpeg"  required >
                </label>
              </div>

            </div>

            <div class="right">
              <input type="text" name="year" class="form-control" id="email" placeholder="year">
              <input type="text" name="skill1" class="form-control" id="password" placeholder="enter skill 1">
              <input type="text" name="skill2" class="form-control" id="password" placeholder="enter skill 2">
              <input type="text" name="skillrequired1" class="form-control" id="password"
              placeholder="enter skill required in partner">
              <input type="text" name="skillrequired2" class="form-control" id="password"
              placeholder="enter skill required in partner">
              
            </div>

            <label for="social_id">Social handel to connect with others
              <input type="url" name="social_id" class="form-control" id="password"
                placeholder="Scial handles">
              </label>
              <input type="submit" value="Sign-Up" class="btn btn-block buttn" style="width:85%;">
          </form>
          <div class="already">
            <a href="/login"><button>Already have an account? <strong> Login</strong></button></a>
          </div>
        </div>
    </div>

  </body>

  </html>