<section id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <h2 class="testimonial-text">Find Project Partner</h2>
        <img class="testimonial-img" src="Images/Partner.jpg" alt="dog-profile">
        <p class="slide-text">Find your project partner with required skillset and as passionate as you by just one click. Collaborate with other people, make projects, enhance your skills and make other people's life easier. </p>
      </div>

      <div class="carousel-item" >
        <h2 class="testimonial-text">Find Mentor</h2>
        <img class="testimonial-img" src="Images/Mentor.jpg" alt="Images/20944999.jpg">
        <p class="slide-text">Find a mentor who can guide your team in your project and lead you to a successfull journey ahead.</p>
    
    </div>
    
    <div class="carousel-item" >
      <h2 class="testimonial-text">Build your Community</h2>
      <img class="testimonial-img" src="Images/community.jpg" alt="lady-profile">
      <p class="slide-text">Connect with as many people you want, collaborate with each other and build something great. </p>
  
  </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide = "prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide = "next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>

</section>